%table.table.table-striped.table-condensed.default-resource-table
  %thead
    %tr
      - if can? :edit, resource_class
        %th.edit Edit

      - if can? :read, resource_class
        %th.read Show

      - readable_attributes(collection.first).each do |attribute|
        %th= attribute.titleize

  %tbody
    - collection.each do |resource|
      %tr
        - if can? :edit, resource_class
          %td.edit
            = edit_link edit_resource_url(resource) if can? :edit, resource

        - if can? :read, resource_class
          %td.read
            = show_link resource if can? :show, resource

        - readable_attributes(resource).each do |attribute|
          %td= attr_value(resource, attribute)